@import url(../fonts/stylesheet.css);
* {
  outline: none;
  font-family: Nirmala UI; }

html {
  scroll-behavior: smooth; }

body {
  position: relative; }
  body.lock {
    overflow: hidden; }

button:disabled,
button[disabled] {
  border-color: #333333 !important;
  background-color: #666666 !important;
  color: #FFFFFF !important; }

p {
  margin: 0; }

dl {
  display: none; }

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slick-list {
  overflow: hidden; }
  .slick-list.draggable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.slick-slide {
  outline: none; }

.slick-arrow {
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .slick-arrow.slick-disabled {
    opacity: 0.5; }

.container {
  height: 100%; }

.block {
  position: relative;
  z-index: 1; }
  .block__wrapper {
    padding: 50px 0; }
    @media (max-width: 767px) {
      .block__wrapper {
        padding: 40px 0; } }
    @media (max-width: 575px) {
      .block__wrapper {
        padding: 30px 0; } }

.header {
  z-index: 5;
  position: relative;
  height: 100px;
  background-image: url("../img/UIKit/header-bg.png");
  background-size: cover;
  background-color: #FFFFFF;
  background-repeat: no-repeat; }
  .header .container .header-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .container .header-wrapper .header__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .container .header-wrapper .header__left .header__logo {
        height: 70px;
        width: 70px;
        margin-right: 30px; }
        .header .container .header-wrapper .header__left .header__logo a {
          width: 100%;
          height: 100%;
          text-decoration: none; }
          .header .container .header-wrapper .header__left .header__logo a img {
            height: 100%;
            width: 100%;
            -o-object-fit: contain;
               object-fit: contain; }
      .header .container .header-wrapper .header__left .header__descriptor span {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
        color: #666666; }
        @media (max-width: 575px) {
          .header .container .header-wrapper .header__left .header__descriptor span {
            font-size: 14px; } }
        @media (max-width: 400px) {
          .header .container .header-wrapper .header__left .header__descriptor span {
            font-size: 12px; } }
      @media (max-width: 767px) {
        .header .container .header-wrapper .header__left .header__descriptor {
          display: none; } }
    .header .container .header-wrapper .header__right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
      .header .container .header-wrapper .header__right .header__lang {
        position: relative;
        margin-right: 30px; }
        .header .container .header-wrapper .header__right .header__lang .active-lang {
          padding: 5px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          cursor: pointer; }
          .header .container .header-wrapper .header__right .header__lang .active-lang svg {
            margin-left: 10px;
            -webkit-transition: all 0.2s;
            transition: all 0.2s; }
            .header .container .header-wrapper .header__right .header__lang .active-lang svg path {
              stroke: #00814F; }
        .header .container .header-wrapper .header__right .header__lang ul {
          margin: 0;
          padding: 0;
          position: absolute;
          top: 0;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          background-color: #FFFFFF;
          list-style: none;
          width: 100%;
          padding: 5px; }
        .header .container .header-wrapper .header__right .header__lang a {
          text-decoration: none;
          font-family: Minion Pro;
          font-size: 20px;
          color: #00814F; }
          .header .container .header-wrapper .header__right .header__lang a:hover {
            color: #00B871; }
          .header .container .header-wrapper .header__right .header__lang a:active {
            color: #004B2E; }
        .header .container .header-wrapper .header__right .header__lang.opened .active-lang svg {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
        .header .container .header-wrapper .header__right .header__lang.opened ul {
          top: 100%;
          opacity: 1;
          visibility: visible; }
      .header .container .header-wrapper .header__right .header__menu {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .header .container .header-wrapper .header__right .header__menu .menu {
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          overflow: hidden; }
          .header .container .header-wrapper .header__right .header__menu .menu__btn {
            height: 26px;
            width: 65px;
            position: relative;
            cursor: pointer;
            -webkit-transition: all 0.2s;
            transition: all 0.2s; }
            .header .container .header-wrapper .header__right .header__menu .menu__btn span {
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: #00814F;
              -webkit-transition: all 0.2s;
              transition: all 0.2s; }
              .header .container .header-wrapper .header__right .header__menu .menu__btn span:nth-child(1) {
                top: 0; }
              .header .container .header-wrapper .header__right .header__menu .menu__btn span:nth-child(2) {
                top: 50%;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                width: 70%; }
              .header .container .header-wrapper .header__right .header__menu .menu__btn span:nth-child(3) {
                bottom: 0; }
            .header .container .header-wrapper .header__right .header__menu .menu__btn:hover span {
              background-color: #00B871; }
            .header .container .header-wrapper .header__right .header__menu .menu__btn:hover span:nth-child(2) {
              width: 100%; }
            .header .container .header-wrapper .header__right .header__menu .menu__btn.active {
              height: 100%; }
              .header .container .header-wrapper .header__right .header__menu .menu__btn.active span {
                width: 100%; }
                .header .container .header-wrapper .header__right .header__menu .menu__btn.active span:nth-child(1) {
                  top: 50%;
                  -webkit-transform: translateY(-50%) rotate(-45deg);
                          transform: translateY(-50%) rotate(-45deg); }
                .header .container .header-wrapper .header__right .header__menu .menu__btn.active span:nth-child(2) {
                  opacity: 0;
                  visibility: hidden; }
                .header .container .header-wrapper .header__right .header__menu .menu__btn.active span:nth-child(3) {
                  top: 50%;
                  -webkit-transform: translateY(-50%) rotate(45deg);
                          transform: translateY(-50%) rotate(45deg); }
          .header .container .header-wrapper .header__right .header__menu .menu__list {
            position: absolute;
            top: 100%;
            right: 0;
            background-color: transparent;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            height: 569px;
            max-height: calc(100vh - 100px);
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.4s;
            transition: all 0.4s; }
            .header .container .header-wrapper .header__right .header__menu .menu__list ul {
              padding: 0;
              margin: 0;
              list-style: none;
              border: 1px solid #000; }
              .header .container .header-wrapper .header__right .header__menu .menu__list ul li {
                margin: 10px 0; }
                .header .container .header-wrapper .header__right .header__menu .menu__list ul li a {
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 24px;
                  color: #333333;
                  text-decoration: none;
                  color: #00814F;
                  -webkit-transition: all 0.2s;
                  transition: all 0.2s;
                  white-space: nowrap; }
                  @media (max-width: 575px) {
                    .header .container .header-wrapper .header__right .header__menu .menu__list ul li a {
                      font-size: 20px; } }
                  @media (max-width: 400px) {
                    .header .container .header-wrapper .header__right .header__menu .menu__list ul li a {
                      font-size: 16px; } }
                  .header .container .header-wrapper .header__right .header__menu .menu__list ul li a:hover {
                    color: #00B871; }
                  .header .container .header-wrapper .header__right .header__menu .menu__list ul li a:active {
                    color: #004B2E; }
          .header .container .header-wrapper .header__right .header__menu .menu.opened .menu__list {
            opacity: 1;
            visibility: visible; }

.intro .container .intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .intro .container .intro__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }
  .intro .container .intro__wrapper .intro__content {
    width: 55%;
    padding-right: 20px; }
    @media (max-width: 767px) {
      .intro .container .intro__wrapper .intro__content {
        padding-right: 0;
        width: 100%; } }
    .intro .container .intro__wrapper .intro__content h1 {
      font-family: Minion Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 35px;
      color: #333333;
      color: #333333;
      font-size: 35px;
      line-height: 100%; }
      @media (max-width: 575px) {
        .intro .container .intro__wrapper .intro__content h1 {
          font-size: 25px; } }
      @media (max-width: 400px) {
        .intro .container .intro__wrapper .intro__content h1 {
          font-size: 20px; } }
    .intro .container .intro__wrapper .intro__content p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #333333;
      margin: 12px 0 20px 0; }
      @media (max-width: 575px) {
        .intro .container .intro__wrapper .intro__content p {
          font-size: 16px; } }
      @media (max-width: 400px) {
        .intro .container .intro__wrapper .intro__content p {
          font-size: 14px; } }
    @media (max-width: 400px) {
      .intro .container .intro__wrapper .intro__content a.theme-btn {
        width: 100%; } }
  .intro .container .intro__wrapper .intro__video {
    width: 50%;
    margin-right: -5%;
    position: relative; }
    @media (max-width: 767px) {
      .intro .container .intro__wrapper .intro__video {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; } }
    .intro .container .intro__wrapper .intro__video .video-wrapper img {
      width: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
    .intro .container .intro__wrapper .intro__video .video-wrapper .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
.intro .mouse-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 1024px) {
    .intro .mouse-down {
      display: none; } }
  .intro .mouse-down .mouse {
    margin-bottom: 10px; }
  .intro .mouse-down .mouse-down-arrow:nth-child(2) {
    -webkit-animation: down 1.5s linear 0s infinite normal forwards;
            animation: down 1.5s linear 0s infinite normal forwards; }
  .intro .mouse-down .mouse-down-arrow:nth-child(3) {
    -webkit-animation: down 1.5s linear 0.125s infinite normal forwards;
            animation: down 1.5s linear 0.125s infinite normal forwards; }
  .intro .mouse-down .mouse-down-arrow:nth-child(4) {
    -webkit-animation: down 1.5s linear 0.25s infinite normal forwards;
            animation: down 1.5s linear 0.25s infinite normal forwards; }
@-webkit-keyframes down {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
@keyframes down {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
.range {
  max-width: 100%; }
  .range > .container {
    margin-right: 0;
    padding-right: 0; }
    .range > .container .range__wrapper {
      position: relative; }
      .range > .container .range__wrapper .range__content {
        min-width: 595px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 991px) {
          .range > .container .range__wrapper .range__content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            min-width: 0; } }
        @media (max-width: 991px) {
          .range > .container .range__wrapper .range__content .range__text {
            width: 100%;
            margin-bottom: 50px;
            max-width: 100%; } }
  @media (max-width: 991px) and (max-width: 575px) {
    .range > .container .range__wrapper .range__content .range__text {
      margin-bottom: 30px; } }

        .range > .container .range__wrapper .range__content .range__text .range__title {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          color: #333333;
          color: #00814F;
          margin-bottom: 40px; }
          @media (max-width: 767px) {
            .range > .container .range__wrapper .range__content .range__text .range__title {
              font-size: 25px; } }
          @media (max-width: 575px) {
            .range > .container .range__wrapper .range__content .range__text .range__title {
              font-size: 20px; } }
          @media (max-width: 400px) {
            .range > .container .range__wrapper .range__content .range__text .range__title {
              font-size: 18px; } }
          @media (max-width: 575px) {
            .range > .container .range__wrapper .range__content .range__text .range__title {
              margin-bottom: 15px; } }
        .range > .container .range__wrapper .range__content .range__text ul {
          padding: 0;
          margin-bottom: 30px;
          list-style: none; }
          @media (max-width: 575px) {
            .range > .container .range__wrapper .range__content .range__text ul {
              margin-bottom: 10px; } }
          .range > .container .range__wrapper .range__content .range__text ul li {
            padding-left: 32px;
            position: relative;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            color: #333333;
            color: #00814F;
            margin: 7px 0; }
            @media (max-width: 575px) {
              .range > .container .range__wrapper .range__content .range__text ul li {
                font-size: 16px; } }
            @media (max-width: 400px) {
              .range > .container .range__wrapper .range__content .range__text ul li {
                font-size: 14px; } }
            .range > .container .range__wrapper .range__content .range__text ul li:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%);
              width: 12px;
              height: 12px;
              background-image: url("../img/UIKit/list-icon.svg"); }
        .range > .container .range__wrapper .range__content .range__text .range__description {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 150%;
          color: #333333;
          color: #00814F;
          margin-bottom: 35px; }
          @media (max-width: 575px) {
            .range > .container .range__wrapper .range__content .range__text .range__description {
              font-size: 16px; } }
          @media (max-width: 400px) {
            .range > .container .range__wrapper .range__content .range__text .range__description {
              font-size: 14px; } }
          @media (max-width: 575px) {
            .range > .container .range__wrapper .range__content .range__text .range__description {
              margin-bottom: 15px; } }
        .range > .container .range__wrapper .range__content .range__text .range__btns a {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
        .range > .container .range__wrapper .range__content .range__text .range__btns a:first-child {
          margin-right: 20px; }
        @media (max-width: 555px) {
          .range > .container .range__wrapper .range__content .range__text .range__btns {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            padding-right: 15px; }
            .range > .container .range__wrapper .range__content .range__text .range__btns a:first-child {
              margin-right: 0;
              margin-bottom: 10px; } }
        @media (max-width: 400px) {
          .range > .container .range__wrapper .range__content .range__text .range__btns a {
            width: 100%; } }
        .range > .container .range__wrapper .range__content .range__slider {
          max-width: 50%; }
          @media (max-width: 1199px) {
            .range > .container .range__wrapper .range__content .range__slider {
              width: 40%; } }
          @media (max-width: 991px) {
            .range > .container .range__wrapper .range__content .range__slider {
              width: 100%;
              max-width: none; } }
          .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item {
            width: 362px;
            height: 315px;
            margin-right: 20px;
            position: relative;
            overflow: hidden; }
            @media (max-width: 575px) {
              .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item {
                width: 285px;
                margin-right: 10px; } }
            .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item img {
              width: 100%;
              height: 100%;
              -o-object-fit: cover;
                 object-fit: cover; }
            .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info {
              position: absolute;
              bottom: 0;
              -webkit-transform: translateY(100%);
                      transform: translateY(100%);
              left: 0;
              width: 100%;
              background-color: #FFFFFF;
              padding: 15px;
              opacity: 0;
              -webkit-transition: all 0.2s;
              transition: all 0.2s; }
              @media (max-width: 1024px) {
                .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info {
                  -webkit-transform: translateY(0);
                          transform: translateY(0);
                  opacity: 1; } }
              .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__name {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                color: #333333;
                color: #00814F; }
                @media (max-width: 575px) {
                  .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__name {
                    font-size: 20px; } }
                @media (max-width: 400px) {
                  .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__name {
                    font-size: 16px; } }
                @media (max-width: 1024px) {
                  .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__name {
                    margin-bottom: 15px; } }
              .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__description {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -moz-box;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                line-clamp: 2;
                box-orient: vertical;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 150%;
                color: #333333;
                color: #666666;
                margin: 16px 0; }
                @media (max-width: 575px) {
                  .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__description {
                    font-size: 16px; } }
                @media (max-width: 400px) {
                  .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__description {
                    font-size: 14px; } }
                @media (max-width: 1024px) {
                  .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__description {
                    display: none; } }
              .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__category {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 100%;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between; }
                .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__category span {
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 150%;
                  color: #333333;
                  color: #666666; }
                  @media (max-width: 575px) {
                    .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__category span {
                      font-size: 14px; } }
                  @media (max-width: 400px) {
                    .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__category span {
                      font-size: 12px; } }
                .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__category p {
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 150%;
                  color: #333333;
                  color: #00B871; }
                  @media (max-width: 575px) {
                    .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__category p {
                      font-size: 14px; } }
                  @media (max-width: 400px) {
                    .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item__info .range-item__category p {
                      font-size: 12px; } }
            .range > .container .range__wrapper .range__content .range__slider .range-slider .range-item:hover .range-item__info {
              -webkit-transform: translate(0);
                      transform: translate(0);
              opacity: 1; }
      .range > .container .range__wrapper .range__bottom {
        width: 100%;
        margin-top: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 575px) {
          .range > .container .range__wrapper .range__bottom {
            margin-top: 30px; } }
        .range > .container .range__wrapper .range__bottom .range-slider__np {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: start; }
          .range > .container .range__wrapper .range__bottom .range-slider__np .range-slider__n {
            cursor: pointer;
            margin-left: 10px; }
          .range > .container .range__wrapper .range__bottom .range-slider__np .range-slider__p {
            cursor: pointer; }
        .range > .container .range__wrapper .range__bottom .range-slider__dots {
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          max-width: 900px;
          margin-left: 100px;
          margin-right: 30px;
          position: relative; }
          @media (max-width: 575px) {
            .range > .container .range__wrapper .range__bottom .range-slider__dots {
              margin-left: 30px; } }
          .range > .container .range__wrapper .range__bottom .range-slider__dots .range-slider-active-dot {
            display: inline-block;
            min-width: 10px;
            background-color: #00814F;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            position: absolute;
            left: 0;
            top: 0;
            height: 2px; }
          .range > .container .range__wrapper .range__bottom .range-slider__dots ul {
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 0;
            margin: 0; }
            .range > .container .range__wrapper .range__bottom .range-slider__dots ul li {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-box-flex: 1;
                  -ms-flex-positive: 1;
                      flex-grow: 1; }
              .range > .container .range__wrapper .range__bottom .range-slider__dots ul li button {
                width: 100%;
                height: 2px;
                outline: none;
                border: none;
                background-color: #c4c4c4;
                font-size: 0; }

#result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #result .result-msg {
    font-weight: 900;
    font-size: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: #00814F;
    margin-bottom: 20px; }
    @media (max-width: 900px) {
      #result .result-msg {
        font-size: 30px; } }
    @media (max-width: 780px) {
      #result .result-msg {
        font-size: 28px; } }
    @media (max-width: 575px) {
      #result .result-msg {
        font-size: 20px; } }
  #result .popup__content {
    width: 500px;
    max-width: 100%;
    padding: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 920px) {
      #result .popup__content {
        padding: 60px 80px; } }
    @media (max-width: 820px) {
      #result .popup__content {
        padding: 45px 70px; } }
    @media (max-width: 575px) {
      #result .popup__content {
        padding: 20px 30px;
        max-height: none; } }
    @media (max-height: 600px) {
      #result .popup__content {
        max-height: none; } }

.popup {
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  overflow-x: hidden;
  overflow-y: auto; }
  .popup__body {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .popup__body .popup__content:not(.video-popup) {
      width: 1100px;
      max-width: 100%;
      background-color: #FFFFFF;
      padding: 80px 110px;
      position: relative;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
              transform: perspective(600px) translate(0px, -100%) rotateX(45deg); }
      .popup__body .popup__content:not(.video-popup) .closer {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .popup__body .popup__content:not(.video-popup) .closer svg {
          height: 16px;
          width: 16px;
          -webkit-transition: all 0.2s;
          transition: all 0.2s; }
          .popup__body .popup__content:not(.video-popup) .closer svg path {
            fill: #00814F; }
        .popup__body .popup__content:not(.video-popup) .closer:hover svg path {
          fill: #00B871; }
        .popup__body .popup__content:not(.video-popup) .closer:active svg path {
          fill: #004B2E; }
      @media (max-width: 920px) {
        .popup__body .popup__content:not(.video-popup) {
          padding: 60px 80px; } }
      @media (max-width: 820px) {
        .popup__body .popup__content:not(.video-popup) {
          padding: 45px 70px; } }
      @media (max-width: 575px) {
        .popup__body .popup__content:not(.video-popup) {
          padding: 20px 30px;
          max-height: none; } }
      @media (max-height: 600px) {
        .popup__body .popup__content:not(.video-popup) {
          max-height: none; } }
    .popup__body .video-popup {
      width: auto;
      padding: 10px;
      max-width: 100%;
      max-height: 100%;
      background-color: #FFFFFF;
      border-radius: 10px;
      position: relative;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
              transform: perspective(600px) translate(0px, -100%) rotateX(45deg); }
      .popup__body .video-popup iframe {
        max-width: 100%; }
      .popup__body .video-popup .closer {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background-color: #FFFFFF; }
        .popup__body .video-popup .closer svg {
          height: 16px;
          width: 16px;
          -webkit-transition: all 0.2s;
          transition: all 0.2s; }
          .popup__body .video-popup .closer svg path {
            fill: #00814F; }
        .popup__body .video-popup .closer:hover svg path {
          fill: #00B871; }
        .popup__body .video-popup .closer:active svg path {
          fill: #004B2E; }
  .popup.opened {
    opacity: 1;
    visibility: visible; }
    .popup.opened .popup__content {
      -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
              transform: perspective(600px) translate(0px, 0%) rotateX(0deg); }

.play-btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative; }
  .play-btn:hover .circle1, .play-btn:hover .circle2 {
    background-color: rgba(0, 184, 113, 0.5); }
  .play-btn .circle1 {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-animation: circle2 2s ease-in 0.5s infinite normal none;
            animation: circle2 2s ease-in 0.5s infinite normal none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    @media (max-width: 500px) {
      .play-btn .circle1 {
        width: 60px;
        height: 60px; } }
  .play-btn .circle2 {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-animation: circle2 2s ease-in 0.25s infinite normal none;
            animation: circle2 2s ease-in 0.25s infinite normal none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    @media (max-width: 500px) {
      .play-btn .circle2 {
        width: 50px;
        height: 50px; } }
  .play-btn a.play {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url("../img/UIKit/play-btn.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FFFFFF;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    @media (max-width: 500px) {
      .play-btn a.play {
        width: 40px;
        height: 40px; } }
@-webkit-keyframes circle2 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@keyframes circle2 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
a.theme-btn {
  display: inline-block;
  text-align: center;
  padding: 8px 24px;
  text-transform: uppercase;
  border: 2px solid #00814F;
  background-color: #00814F;
  color: #FFFFFF;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  a.theme-btn:hover {
    background-color: #00B871;
    border: 2px solid #00B871; }
  a.theme-btn:active {
    background-color: #004B2E;
    border: 2px solid #004B2E; }

a.theme-btn-b {
  display: inline-block;
  text-align: center;
  padding: 8px 24px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 2px solid #00814F;
  color: #00814F;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  a.theme-btn-b:hover {
    background-color: #00B871;
    border: 2px solid #00B871;
    color: #FFFFFF; }
  a.theme-btn-b:active {
    color: #FFFFFF;
    background-color: #004B2E;
    border: 2px solid #004B2E; }

/*# sourceMappingURL=style.css.map */